<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>formRegistration</servlet-name>
        <servlet-class>boundary.formRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>member</servlet-name>
        <servlet-class>model.memberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profil</servlet-name>
        <servlet-class>boundary.profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDispatcher</servlet-name>
        <servlet-class>loginController.LoginDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRedirect</servlet-name>
        <servlet-class>loginController.LoginRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loginController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>model.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formRegistration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>member</servlet-name>
        <url-pattern>/member/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profil</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDispatcher</servlet-name>
        <url-pattern>/LoginDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRedirect</servlet-name>
        <url-pattern>/LoginRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
